<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="foot" class="footer">
    <div>Copyright © 2019 ICP备000000号 . All Rights Reserved . 复制必究 . Technical Support: Dgg Group Powered By
        <a href="http://www.ithome.com.cn" target="_blank"> 码问社区 </a>
        <img src="/images/b_1.gif" width="98" height="33"/><img src="/images/b_2.gif" width="98" height="33"/><img
                src="/images/b_3.gif" width="98" height="33"/><img src="/images/b_4.gif" width="98" height="33"/><img
                src="/images/b_5.gif" width="98" height="33"/><img src="/images/b_6.gif" width="98" height="33"/>

    </div>
</div>
</body>
</html>