<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="b_nav">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            备案/许可证编号：蜀ICP备12009302号-1-www.ithome.com.cn Copyright © 2015-2018 IT之家中文社区 All Rights Reserved. 复制必究 ,
            Technical Support: Dgg Group <br/>
            <img src="/images/b_1.gif" width="98" height="33"/><img src="/images/b_2.gif" width="98" height="33"/><img
                src="/images/b_3.gif" width="98" height="33"/><img src="/images/b_4.gif" width="98" height="33"/><img
                src="/images/b_5.gif" width="98" height="33"/><img src="/images/b_6.gif" width="98" height="33"/>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <span>©2019 Baidu</span>
            <a pv_code="0" href="https://tieba.baidu.com/tb/eula.html" target="_blank">社区协议</a>
            <span>|</span>
            <a pv_code="0" href="https://tieba.baidu.com/tb/cms/tieba-fe/tieba_promise.html" target="_blank">隐私政策</a>
            <span>|</span>
            <a pv_code="0" href="http://tieba.baidu.com/tb/system.html" target="_blank">吧主制度</a>
            <span>|</span>
            <a class="ueg_feedback-link" data-site="feedbackLink" pv_code="0"
               href="http://tieba.baidu.com/hermes/feedback" target="_blank">意见反馈</a>
            <span>|</span>
            <a pv_code="0" href="https://tieba.baidu.com/tb/zt/declare/" target="_blank">网络谣言警示</a>
        </div>
    </div>
</div>
</body>
</html>